.hero {
  padding: 5rem 0 5rem 0;
  background: $heroBgColour;
  background: radial-gradient(50% 50%, circle cover, $heroBgColour 10%, darken($heroBgColour, 15%) 100%);
  color: $heroFontColour;
  text-align: center;
  overflow: hidden;
}

h1 {
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 3rem;
  color: $heroFontColour;

  small {
    margin-top: 1rem;
    display: block;
  }
}
