.key-features {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.key-features__feature {
  text-align: center;
  margin-bottom: 3rem;
  @include scaleFont($baseFontSize);

  flex: 0 0 100%;

  @media (min-width: $screen-md) {
    flex: 0 0 33.3%;
  }

  .fa {
    font-size: 4rem;
    display: block;
    margin-bottom: 1rem;
  }
}
