body {
  @include scaleFont($baseFontSize);
  background: $bgColour;
  color: $fontColour;
  font-weight: 200;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 2rem;
}

h1, h2, h3, h4 {
  color: $headingColor;
  font-weight: 300;
}

h1 {
  @include scaleFont(nth($headerFontSize, 1));
}

h2 {
  @include scaleFont(nth($headerFontSize, 2));
}

h3 {
  @include scaleFont(nth($headerFontSize, 3));
}

h4 {
  @include scaleFont(nth($headerFontSize, 4));
}

hr {
  border-color: rgba($heroBgColour, 0.1);
}
