body {
  font-size: $baseFontSize;
  background: $bgColour;
  color: $fontColour;
  font-weight: 200;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 2rem;

  @media (min-width: $screen-md){
    font-size: $baseFontSize * $midScale;
  }

  @media (min-width: $screen-lg) {
    font-size: $baseFontSize * $largeScale;
  }
}

h1, h2, h3, h4 {
  color: $headingColor;
  font-weight: 300;
}

hr {
  border-color: rgba($heroBgColour, 0.1);
}
