// Colours
$brandPrimary: #6BABC0;
$brandSecondary: darken($brandPrimary, 10%);
$brandTertiary: #ee6194;

$bgColour: #fff;
$fontColour: #262626;
$baseFontSize: 16px;
$headerFontSize: 1.7em 1.5em 1.3em 1em;
$heroBgColour: $brandPrimary;
$heroFontColour: #fff;

$headingColor: $heroBgColour;

// Breakpoints
$screen-md: 768px;
$screen-lg: 1200px;

// Font scaling
$midScale: 1;
$largeScale: 1.1;
