---
title: LivePage for Google Chrome
---

<header class="hero">
  <img class="logo" />
  <h1><strong>LivePage</strong> for Google Chrome</h1>
  <h2>Because time is money</h2>

  <a href="https://chrome.google.com/webstore/detail/livepage/pilnojpmdoofaelbinaeodfpjheijkbh/details" class="btn">
    + Add To Chrome
  </a>
</header>

<section>
</section>
