---
title: LivePage for Google Chrome
---

<header class="hero">
  <div class="container">

    <% livepage_install_link class: "" do %>
      <%= image_tag 'icon.svg' %>
    <% end %>

    <h1><strong>LivePage</strong> for Google Chrome
      <small>Because time is money</small></h1>

    <% livepage_install_link do %>
      + Add To Chrome
    <% end %>
  </div>
</header>

<div class="container">

  <%= partial "partials/index/key-features" %>

  <%#= partial "partials/index/demos" %>

  <%= partial "partials/index/faqs" %>

  <%= partial "partials/index/footer-install" %>

</div>
