<div class="faqs">
  <h2>Frequently asked questions</h2>

  <div>
    <h3>Why is it not free?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus erat libero, facilisis vel arcu at, suscipit lobortis leo. In blandit, eros viverra mattis dapibus, arcu nulla maximus nisi, quis feugiat lectus leo vel elit.</p>
  </div>

  <hr />

  <div>
    <h3>How I have a problem, where do I report it to?</h3>
    <p>Duis vulputate fringilla enim, vitae pulvinar massa elementum consequat. Quisque aliquet magna id fermentum porta. Sed gravida, libero et eleifend imperdiet, magna nibh accumsan nunc, eget interdum lacus massa nec tellus.</p>
  </div>

  <hr />

  <div>
    <h3>I only see "Price not available" in the Chrome Web Store</h3>
    <p>If you are seeing "Price not available" as the only download option in Chrome Web Store, this is caused by Google not being able to determine your local currency. As a workaround, append &gl=us to the URL, for example: <a href="https://chrome.google.com/webstore/detail/livepage/pilnojpmdoofaelbinaeodfpjheijkbh?hl=en&gl=us">https://chrome.google.com/webstore/detail/livepage/pilnojpmdoofaelbinaeodfpjheijkbh?hl=en&gl=us</a></p>
  </div>
</div>
