<div class="faqs">
  <h2>Frequently asked questions</h2>

  <div>
    <h3>Is LivePage still maintained?</h3>
    <p>As of the 10th of February 2020 is not actively maintained. You can still find the source code on GitHub if you'd like to use it.</p>
  </div>

  <hr />

  <div>
    <h3>I purchased LivePage within the last 6 months & I'd like a refund.</h3>
    <p>No problem! All orders were handled via the Chrome Store, after you purchased you should have received a confirmation email containing an Order number. Send me an <%= link_to "email with your order number", "mailto:me@mikerogers.io" %> and I'll issue a refund.</p>
  </div>
</div>
