<div class="faqs">
  <h2>Frequently asked questions</h2>

  <div>
    <h3>Is LivePage still maintained?</h3>
    <p>As of the 10th of February 2020 is not actively maintained. You can still find the source code on GitHub if you'd like to use it.</p>
    <p>Alternatively both <%= link_to 'react-hot-loader', 'https://github.com/gaearon/react-hot-loader' %> &amp; <%= link_to 'vue-loader', 'https://vue-loader.vuejs.org/guide/hot-reload.html' %> offer a really good reloading experience.</p>
  </div>

  <hr />

  <div>
    <h3>CORS error when running on file:// protocol</h3>
    <p>Google Chrome doesn't allow access to AJAX requests when on the file:// protocol any more. Instead serve your local files via <%= link_to 'http-server', 'https://www.npmjs.com/package/http-server' %>.</p>
  </div>

  <hr />

  <div>
    <h3>I purchased LivePage within the last 6 months & I'd like a refund.</h3>
    <p>No problem! All orders were handled via the Chrome Store, after you purchased you should have received a confirmation email containing an Order number. Send me an <%= link_to "email with your order number", "mailto:me@mikerogers.io" %> and I'll issue a refund.</p>
  </div>
</div>
