<div class="footer-install">
  <% livepage_install_link class: "btn btn-primary-inv" do %>
    + Add To Chrome
  <% end %>
  <%= link_to "Contribute on GitHub", "https://github.com/MikeRogers0/LivePage", class: "btn btn-primary-inv", target: "_blank" %>
</div>
