<div class="footer-install">
  <% livepage_install_link class: "btn btn-inversed" do %>
    + Add To Chrome
  <% end %>
  <%= link_to "Contribute on GitHub", "https://github.com/MikeRogers0/LivePage", class: "btn btn-inversed", target: "_blank" %>
</div>
