<div class="key-features">

  <div class="key-features__feature">
    <i class="fa fa-globe" aria-hidden="true"></i>
    <p>Make entire domains live with the push of a button</p>
  </div>

  <div class="key-features__feature">
    <i class="fa fa-folder-open" aria-hidden="true"></i>
    <p>See local changes to your webpages - instantly!</p>
  </div>

  <div class="key-features__feature">
    <i class="fa fa-line-chart" aria-hidden="true"></i>
    <p>Easy to setup, allowing your to focus on building</p>
  </div>

</div>
